body 
{ 
  background-color: #ebd6b6; 
  color: black;
  font-family: "Monaco";
  font-size: 18px;
  line-height: 1.4;
}

h1 
{
  font-family: 'Merriweather', serif;
}

.section 
{
  background: white;
  padding: 40px;
  margin: 30px 0;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 1.0);
  border-radius: 4px;
  text-align: center; 
}

a 
{
  color: red;
  text-decoration: none;
  font-weight: bolder;
}

a:hover
{
  color: darkred 
  text-decoration: none;
}

a:visited 
{
  color: red;
  text-decoration: none;
}

p 
{
  font-size: 18px;
}

ul 
{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;  
  gap: 20px;
  margin: 0;
}

ul li a 
{
  font-size: 2em;
  color: red;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

ul li a: hover 
{
  color: darkred;
}

@media (max-width: 760px)
 { .container: 
  {
width: 600px;
  }
 }

 @media (max-width: 500px)
 { .container: 
  {
width: 400px;
  }
 }

.img-circle 
{
  border-radius: 50%; 
}

.button 
{
  background-color: black;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

